asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
Django
django-allauth
django-crispy-forms
django-heroku
django-on-heroku
djongo
dnspython
gunicorn
idna
mysqlclient
oauthlib
Pillow
psycopg2
psycopg2-binary
pycparser
PyJWT
pymongo
PyMySQL
python-social-auth
python3-openid
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
urllib3
whitenoise
